@import "fontello.css";

#readerIframe {
    position: fixed;
    top: 0;
    z-index: 99999;
}

body {
    padding-top: 230px !important;
}

#closeButton {
    position: fixed;
    top: 10px;
    right: 10px;
    z-index: 999999;
    font-size: 1.5em;
    color: rgba(0, 0, 0, .4);
}

#veil {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 230px;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
    z-index: 99999999;
}
