#readerIframe {
    position: fixed;
    top: 0;
    z-index: 99999;
}

body {
    padding-top: 230px !important;
}

#closeButton {
    position: fixed;
    top: 10px;
    right: 10px;
    z-index: 999999;
}
