body {
  background: #ececec;
}

.textReader {
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #bbb;
  font-family: Georgia, serif;
}

.word {
  display: flex;
  font-size: 3em;
  width: 100%;
  
  .first {
    width: 50%;
    text-align: right;
  }

  mark {
    background-color: transparent;
    padding: 0;
    color: red;
  }
}
